apiVersion: 1

datasources:
  - name: PostgreSQL
    uid: postgres
    type: postgres
    url: postgres:5432
    database: project_invest
    user: postgres
    secureJsonData:
      password: postgres
    jsonData:
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
    isDefault: true
    editable: false
